#account-view {
  color: #fff;
  margin-left: 20%;

  #create-account, .edit-form {
    margin-top: 20px;

    * {
      display: inline-block;
    }
  }

  .cancel {
    background-color: $button-red;
  }

  .cancel:hover {
    background-color: $lighter-red;
  }

  #account-list {
    margin-top: 20px;
    width: 60%;
    min-width: 550px;
  }

  .bank-account {
    > div {
      width: 100%;
    }

    * {
      display: inline-block;
    }

    .buttons {
      margin: 0 30% 0 20px;
      float: right;
      button {
        margin: 1em 20px 0 20px;
      }
    }

    .confirm {
      display: block;

      * {
        margin-right: 20px;
      }
    }
  }

  .edit-form {
    * {
      margin-left: 20px;
    }

    > div, .name-label {
      margin-left: 0;
    }
  }
}

@media (max-width: 800px) {
  #account-view {
    margin-left: 0;
    padding-left: 5%;

    #account-list {
      min-width: 100%;
    }

    #create-account > button {
      margin-left: 20px;
    }

    .bank-account {
      margin-top: 20px;

      p {
        margin: 0 20px 0 20px;
      }

      .buttons {
        width: 100%;
        float: left;
        margin: 0;
      }

      .confirm {
        p {
          margin: 20px 0 10px 20px;
        }

        button {
          margin-left: 20px;
        }
      }

      .edit-form {
        width: 100%;
      }
    }

    .edit-form {
      label {
        width: 120px;
        margin-bottom: 10px;
      }

      input {
        margin-left: 50px;
      }

      .name-label {
        margin-left: 20px;
      }
    }
  }
}
