@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$main-blue: #048BA8;
$lighter-blue: #31A0B7;
$button-blue: #1789FC;
$button-hover: #2C93FC;

$main-grey: #2C363F;
$lighter-grey: #3F4850;

$button-red: #DE4D60;
$lighter-red: #E15D6E;

// TODO: replace these old 0.1 values
$grey: #5c6366;
$blue: #6264BF;
$green: #78D66A;
$red: #E98382;
$confirm: #0DD17A;
$cancel: #E86753;

body {
  // Default font is Open Sans, override it if necessary
  font-family: 'Open Sans';
}

button {
  color: #fff;
  border-radius: 3px;
  background-color: $button-blue;
  border: 1px solid $button-hover;
  font-size: 12px;
  text-transform: uppercase;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  line-height: 14px;
}

button:hover {
  background-color: $button-hover;
}

header {
  background: $main-blue;
  color: #fff;
  height: 50px;

  h1 {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    margin: 11px 20px 0 20px;
  }

  div {
    display: inline-block;
  }

  #nav-elems {
    position: absolute;

    .nav {
      border-left: 1px solid #fff;
      height: 30px;
      margin-top: 10px;
      color: #ccc;

      .fa {
        cursor: pointer;
        display: inline-block;
        margin-left: 20px;
      }

      p {
        margin: 7px 20px 0 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        display: inline-block;
      }
    }

    .selected {
      color: #fff;
    }
  }

  #loggedInAs {
    float: right;

    p {
      margin: 7px 20px 5px 0;
      font-size: 14px;
    }

    #logged-text {
      float: right;
    }

    #logoutButton {
      float: right;
      margin: 10px 20px 0 0;
    }
  }
}
