@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$main-blue: #048BA8;
$lighter-blue: #31A0B7;
$button-blue: #1789FC;
$button-hover: #2C93FC;

$main-grey: #2C363F;
$lighter-grey: #3F4850;

$button-red: #DE4D60;
$lighter-red: #E15D6E;

// TODO: replace these old 0.1 values
$grey: #5c6366;
$blue: #6264BF;
$green: #78D66A;
$red: #E98382;
$confirm: #0DD17A;
$cancel: #E86753;

body {
  // Default font is Open Sans, override it if necessary
  font-family: 'Open Sans';
  background-color: $main-blue;
  margin: 0;
}

button {
  color: #fff;
  border-radius: 3px;
  background-color: $button-blue;
  border: 1px solid #DDD;
  font-size: 12px;
  text-transform: uppercase;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  line-height: 14px;
}

button:hover {
  background-color: $button-hover;
}
