@import 'general.scss';
@import 'bankAccountView.scss';

#sub-nav-elems {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 20%;
  margin-left: 414px;

  .nav {
    color: #ccc;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 20px 0 20px;
  }

  .selected {
    color: #fff;
  }

  p, fa {
    display: inline-block;
  }
}
