@import 'general.scss';

body {
  margin: 0;
  line-height: 1;
  height: 100vh;
}

#confirm {
  padding-left: 1vw;
  margin-bottom: 15px;

  p {
    margin: 10px 0 10px 0;
    font-family: 'Lato', sans-serif;
  }

  button {
    border: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #fff;
    border-radius: 0.5em;
    cursor: pointer;
    width: 5vw;
    text-align: center;
  }

  #delete-btn {
    background: $confirm;
  }

  #delete-cancel {
    background: $cancel;
    margin-left: 20px;
  }
}

#transactions {
  margin: 0 5% 0 5%;
  width: 90%;
  font-family: 'Lato', sans-serif;

  .expense {
    background: $red;
  }

  .income {
    background: $green;
  }

  .scrollarea {
    height: 50vh;
    border: 1px solid $grey;
  }

  #titles {
    h2 {
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4vh 0 1vh 0;
    }

    #amountTitle {
      width: 8%;
      text-align: right;
    }

    #dateTitle {
      width: 12%;
      margin-left: 4vw;
    }

    #descriptionTitle {
      width: 25%;
    }

    #stakeholderTitle {
      width: 20%;
    }
  }

  .transaction {
    padding: 0.2em 0 0.2em 0;

    button {
      border: none;
      padding: 0.2em 0.5em 0.2em 0.5em;
      color: #fff;
      border-radius: 0.5em;
      cursor: pointer;
      margin: 0 0.5em 0 0.5em;
    }

    input {
      margin-right: 1em;
    }

    p {
      display: inline-block;
      margin: 0;
      text-align: center;
    }

    .amountCol {
      width: 8%;
      text-align: right;
    }

    .dateCol {
      width: 12%;
    }

    .descriptionCol {
      width: 25%;
    }

    .fa {
      width: 1vw;
      padding-left: 1vw;
      cursor: pointer;
    }

    .stakeholderCol {
      width: 20%;
    }

    #update-btn {
      background: $confirm;

      .fa {
        padding: 0;
      }
    }

    #cancel-edit {
      background: $cancel;

      .fa {
        padding: 0;
      }
    }
  }
}
